/*
1em = 16px
1.6rem = 16px
*/

////// VARIABLES ////////
$randomize-grey: #424242;
$grey: #282828;
$white: #ffffff;
$red: #a22d23;
$dark-red: #621913;
$darkest-red: #511510;
$off-white: #f2f2f2;
$off-white-dark: #dcdcdc;
////////////////////////

////// BODY STYLES //////
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 16px */
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: $off-white;
}

///////////////////////////

////// GLOBAL STYLES //////

a:link,
a:visited {
  color: white;
}

.row {
  max-width: 120rem;
  margin: auto;
}

.primary__heading {
  font-size: 1.8rem;
  display: inline-flex;
  justify-content: flex-start;
  text-transform: uppercase;
  color: $white;
  background-color: $grey;
  padding: 1rem;
  letter-spacing: 0.4rem;
  border-left: 1rem solid $red;
  margin-bottom: 5rem;
}

.primary__heading__tab {
  font-size: 1.8rem;
  display: inline-flex;
  justify-content: flex-start;
  text-transform: uppercase;
  color: $white;
  background-color: $grey;
  padding: 1rem;
  padding-right: 0;
  letter-spacing: 0.4rem;
  border-left: 1rem solid $red;
  margin-bottom: 5rem;
}

.fourth__heading {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.3rem;
  font-size: 2rem;
}

.sixth__heading {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  cursor: pointer;
  padding: 1.5rem 3rem 1.5rem 3rem;
}

.loading {
  margin: auto;
  margin-bottom: 15rem;
  margin-top: 5rem;
}

///////////////////////////

////// NAV STYLES //////
.logo_form {
  max-width:26rem;
 }

.nav__section {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 3rem;

}

.nav__logo {
  text-decoration: none;
}


////////////////////////////////

////////// SEARCH AREA /////////

.search__area {
  background-image: url('https://res.cloudinary.com/fluxcapacitor/image/upload/v1573753684/spider_big_bg_pfzmda.jpg');
  background-size:60%;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;

  &__heading {
    font-weight: 800;
    letter-spacing: 1.8rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align:center;
  }

  &__form {
    color: $white;
    text-align: center;
    margin-bottom: 10rem;

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked+label {
      border: solid 0.3rem $white;
    }

    label {
      display: block;
      padding: 0.6rem;
      text-align: center;
      background-color: $dark-red;
      margin-bottom: 2rem;
      cursor: pointer;
      transition: 0.2s all;

      &:hover {
        background-color: $darkest-red;
      }
    }
  }

  &__list {
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 800;
    font-size: 1.8rem;
  }

  &__years__options {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    background-color: $dark-red;
    border-style: none;
    padding: 1rem;
    color: $white;
    margin-bottom: 2rem;
  }

  &__submit {
    color: $grey;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 1rem;
    text-indent: 1rem;
    border-style: none;
    width: 100%;
    cursor: pointer;
    background-color: $off-white;
    transition: 0.2s all;

    &:hover {
      background-color: $off-white-dark;
    }
  }
}

////////////////////////////////

/////////////// SEARCH RESULTS  //////////////

.search__results {
  &__template__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__links {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.3rem;

    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
      transition: 0.2s all;
    }

    a:hover {
      background-color: $dark-red;
    }

    #search__results__scroll {
      font-size: 1.4rem;
      font-weight: 600;
      border: 0;

      &:hover {
        background-color: $dark-red;
      }
    }
  }

  &__end {
    padding: 3rem;
    color: $white;
    background-color: $red;
    margin-right: 1rem;
  }
}

////////////////////////////////////////////////

//////////////// CHARACTER STYLES ///////////////

//////// SINGLE CHARACTERS //////////

.characters {
  &__template__ul {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
  }

  &__cards {
    width: 20rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;

    /*&:last-of-type {
      margin-right: 0;
    } */

    img {
      width: 100%;
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    }

    &__info {
      flex: 1;
      border-left: solid 1rem $red;
      padding: 1rem;
      background-color: black;
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    }

    &__p {
      font-size: 1.2rem;
      letter-spacing: 0.5rem;
    }

    a:link,
    a:visited {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      transition: 0.2s all;
    }

    a:hover {
      color: $red;
      transform: translateY(-1rem);
    }

    a:active {
      text-decoration: none;
    }
  }
}

//////////////////////////////////////

//////////// COMICS  ///////////

.comics {
  &__tab {
    text-align: center;
    display: inline-flex;
    flex-direction: row;

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked+label {
      background-color: $dark-red;
    }

    label {
      padding: 1.4rem;
      cursor: pointer;
      transition: 0.2s all;

      &:hover {
        background-color: $darkest-red;
      }
    }

    li {
      list-style-type: none;

      &:first-child {
        margin-left: 3rem;
      }
    }
  }

  &__listings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  &__cards {
    width: 20rem;
    margin-bottom: 5rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;

   /* &:last-of-type {
      margin-right: 0;
    } */ 

    img {
      width: 100%;
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    }

    &__info {
      flex: 1;
      border-left: solid 1rem $red;
      padding: 1rem;
      background-color: black;
      display: flex;
      flex-direction: row;
      color: $white;
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);

      a:link,
      a:visited {
        text-transform: uppercase;
        padding: 0.5rem;
        text-decoration: none;
        border: 0.2rem solid white;
        align-self: flex-end;
        color: $white;
        letter-spacing: 0;
        font-size: 1.2rem;
        transition: 0.3s all;
      }

      a:hover {
        background-color: $red;
      }
    }
  }
}

/////////////////////

////// RANDOMIZE STYLES //////

/////SORT SIZING ////

.randomize {
  padding:5rem;
  &__again {}

  &__ul {
    display: flex;
  }

  &__comic__whole {
    display: flex;
  }

  &__image img {
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5rem;
  }

  &__headings__group {
    display: flex;
  }

  &__issue {
    background-color: $red;
    font-weight: 700;
    color: $white;
    padding: 2rem;
    margin-right: 3rem;
    font-size: 3rem;
    border-radius: 100rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: $randomize-grey;
  }

  &__date {
    font-weight: 400;
    font-size: 1.4rem;
  }

  &__triple__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

    p {
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      padding: 1.6rem 2rem 1.6rem 2rem;
      background-color: $grey;
      font-size: 1.6rem;
      color: $white;
      font-weight: 600;
      margin: 2rem 1rem 2rem 0;
    }
  }

  &__links__btns {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;

    a:link,
    a:visited {
      text-decoration: none;
      transition: 0.3s all;
    }

    a:hover,
    a:active {
      background-color: $grey;
      text-decoration: none;
    }
  }

  &__link {
    background-color: $randomize-grey;
    color: $white;
    font-weight: 900;
    border: 0;
    margin-right: 2rem;
  }

  &__btn {
    font-size: 1.6rem;
    background-color: $red;
    color: $white;
    font-weight: 900;
    border: 0;
    transition: 0.3s all;

    &:hover {
      background-color: $dark-red;
    }
  }
}

.footer {
  color: $white;
  margin-top: 5rem;
  background-color: $grey;
  padding: 5rem;

  &__area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* 
56.25em = 900px
75em = 1200px 
112.5em = 1800px
*/

//1800px and up
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }

  .logo_form {
    max-width:20rem;
   }
}

//1200px and down
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .characters {
    padding: 5rem;
    &__template__ul {
      justify-content: center;
    }
  }

  .comics {
    padding: 5rem;

    &__listings {
      justify-content: center;
    }
  }
}

// 900px and down
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
  .comics__listings {}

  .characters__template__ul {}
}

// 600px and down
@media only screen and (max-width: 37.5em) {

  .primary__heading {   
    text-align:center;  
    border-right:1rem solid $red;
    display:flex;
    justify-content:center;

    &__tab {
      display:flex;
      justify-content:center;
      border-right:1rem solid $red;
    }
  }

  .comics__cards__info {
  display:block;
  text-align:center;
  border-right:1rem solid $red;
  }

  .comics__cards__info a:link, .comics__cards__info a:visited {
    font-size:1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top:2rem;
  
  }

  .comics__tab li:first-child {
    margin-left:1.5rem;
  }

  .randomize__comic__whole {
    display:flex;
    flex-direction:column;
  }

  .randomize {

    &__image {
      display:flex;
      justify-content:center;
      margin-bottom:3rem;
    }
    
    img {
      width: 70%;
    } 

    &__headings__group {
      margin-bottom:1.5rem;
    }

    &__links__btns {
      margin-top:3rem;
    }
  
  }
  
}

// 480px and down
@media only screen and (max-width: 30em) {
  .characters__cards__info {text-align:center;
  border-right:1rem solid $red;}
  .comics__tab {
    display:inline-flex;
    flex-direction:column;
    
    li {
      display:flex;
      justify-content:center;
      align-items:center;

      label {
        padding:1rem;
      }
     
    }
   
  }

  

}