/*
1em = 16px
1.6rem = 16px
*/

////// VARIABLES ////////
$randomize-grey: #424242;
$grey: #282828;
$white: #ffffff;
$red: #a22d23;
$dark-red: #621913;
$darkest-red: #511510;
$off-white: #f2f2f2;
$off-white-dark: #dcdcdc;
////////////////////////

////// BODY STYLES //////
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 16px */
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: $off-white;
}

///////////////////////////

////// GLOBAL STYLES //////

a:link,
a:visited {
  color: white;
}

.row {
  max-width: 120rem;
  margin: auto;
}

.primary__heading {
  font-size: 1.8rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-transform: uppercase;
  color: $white;
  background-color: $grey;
  padding: 1rem;
  letter-spacing: 0.4rem;
  border-left: 1rem solid $red;
  margin-bottom: 5rem;
}

.primary__heading__tab {
  font-size: 1.8rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-transform: uppercase;
  color: $white;
  background-color: $grey;
  padding: 1rem;
  padding-right: 0;
  letter-spacing: 0.4rem;
  border-left: 1rem solid $red;
  margin-bottom: 5rem;
}

.fourth__heading {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.3rem;
  font-size: 2rem;
}

.sixth__heading {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  cursor: pointer;
  padding: 1.5rem 3rem 1.5rem 3rem;
}

.loading {
  margin: auto;
  margin-bottom: 15rem;
  margin-top: 5rem;
}

///////////////////////////

////// NAV STYLES //////
.logo_form {
  max-width: 26rem;
}

.nav__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 3rem;

}

.nav__logo {
  text-decoration: none;
}

////////////////////////////////

////////// SEARCH AREA /////////

.search__area {
  background-image: url('https://res.cloudinary.com/fluxcapacitor/image/upload/v1573753684/spider_big_bg_pfzmda.jpg');
  background-size: 60%;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  &__heading {
    font-weight: 800;
    letter-spacing: 1.8rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
  }

  &__form {
    color: $white;
    text-align: center;
    margin-bottom: 10rem;

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked+label {
      border: solid 0.3rem $white;
    }

    label {
      display: block;
      padding: 0.6rem;
      text-align: center;
      background-color: $dark-red;
      margin-bottom: 2rem;
      cursor: pointer;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;

      &:hover {
        background-color: $darkest-red;
      }
    }
  }

  &__list {
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 800;
    font-size: 1.8rem;
  }

  &__years__options {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    background-color: $dark-red;
    border-style: none;
    padding: 1rem;
    color: $white;
    margin-bottom: 2rem;
  }

  &__submit {
    color: $grey;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 1rem;
    text-indent: 1rem;
    border-style: none;
    width: 100%;
    cursor: pointer;
    background-color: $off-white;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;

    &:hover {
      background-color: $off-white-dark;
    }
  }
}

////////////////////////////////

/////////////// SEARCH RESULTS  //////////////

.search__results {
  &__template__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.3rem;

    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }

    a:hover {
      background-color: $dark-red;
    }

    #search__results__scroll {
      font-size: 1.4rem;
      font-weight: 600;
      border: 0;

      &:hover {
        background-color: $dark-red;
      }
    }
  }

  &__end {
    padding: 3rem;
    color: $white;
    background-color: $red;
    margin-right: 1rem;
  }
}

////////////////////////////////////////////////

//////////////// CHARACTER STYLES ///////////////

//////// SINGLE CHARACTERS //////////

.characters {
  &__template__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &__cards {
    width: 20rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    margin-right: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    img {
      width: 100%;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    }

    &__info {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      border-left: solid 1rem $red;
      padding: 1rem;
      background-color: black;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    }

    &__p {
      font-size: 1.2rem;
      letter-spacing: 0.5rem;
    }

    a:link,
    a:visited {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-decoration: none;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }

    a:hover {
      color: $red;
      -webkit-transform: translateY(-1rem);
      transform: translateY(-1rem);
    }

    a:active {
      text-decoration: none;
    }
  }
}

//////////////////////////////////////

//////////// COMICS  ///////////

.comics {
  &__tab {
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked+label {
      background-color: $dark-red;
    }

    label {
      padding: 1.4rem;
      cursor: pointer;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;

      &:hover {
        background-color: $darkest-red;
      }
    }

    li {
      list-style-type: none;

      &:first-child {
        margin-left: 3rem;
      }
    }
  }

  &__listings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  &__cards {
    width: 20rem;
    margin-bottom: 5rem;
    margin-right: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    img {
      width: 100%;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    }

    &__info {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      border-left: solid 1rem $red;
      padding: 1rem;
      background-color: black;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      color: $white;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);

      a:link,
      a:visited {
        text-transform: uppercase;
        padding: 0.5rem;
        text-decoration: none;
        border: 0.2rem solid white;
        -ms-flex-item-align: end;
        align-self: flex-end;
        color: $white;
        letter-spacing: 0;
        font-size: 1.2rem;
        -webkit-transition: 0.3s all;
        transition: 0.3s all;
      }

      a:hover {
        background-color: $red;
      }
    }
  }
}

/////////////////////

////// RANDOMIZE STYLES //////

.randomize {
  padding: 5rem;

  &__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__comic__whole {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
  }

  &__image {
    
  }
  
  &__image img {
  width:100%;
  height:100%;
  object-fit: scale-down;
  
  }

  &__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 5rem;
  
  }

  &__headings__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__issue {
    background-color: $red;
    font-weight: 700;
    color: $white;
    padding: 2rem;
    margin-right: 3rem;
    font-size: 3rem;

  }

  &__title {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: $randomize-grey;
  }

  &__date {
    font-weight: 400;
    font-size: 1.4rem;
  }

  &__triple__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;

    p {
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      padding: 1.6rem 2rem 1.6rem 2rem;
      background-color: $grey;
      font-size: 1.6rem;
      color: $white;
      font-weight: 600;
      margin: 2rem 1rem 2rem 0;
    }
  }

  &__links__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.6rem;

    a:link,
    a:visited {
      text-decoration: none;
      -webkit-transition: 0.3s all;
      transition: 0.3s all;
    }

    a:hover,
    a:active {
      background-color: $grey;
      text-decoration: none;
    }
  }

  &__link {
    background-color: $randomize-grey;
    color: $white;
    font-weight: 900;
    border: 0;
    margin-right: 2rem;
  }

  &__btn {
    font-size: 1.6rem;
    background-color: $red;
    color: $white;
    font-weight: 900;
    border: 0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;

    &:hover {
      background-color: $dark-red;
    }
  }
}

///////////////// FOOTER /////////////////

.footer {
  color: $white;
  margin-top: 5rem;
  background-color: $grey;
  padding: 5rem;

  &__area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

//////////////////////////////////////////

/* 
56.25em = 900px
75em = 1200px 
112.5em = 1800px
*/

//1800px and up
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }

  .logo_form {
    max-width: 20rem;
  }
}

//1200px and down
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .search__area {
    background-attachment: scroll;
  }

  .characters {
    padding: 5rem;

    &__template__ul {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  .comics {
    padding: 5rem;

    &__listings {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  .search__results {
    padding: 5rem;
  }
}

// 900px and down
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }

  .search__results__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

  }

  .search__results__end {
    margin-bottom: 3rem;
  }
}

// 600px and down
@media only screen and (max-width: 37.5em) {

  .primary__heading {
    text-align: center;
    border-right: 1rem solid $red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &__tab {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-right: 1rem solid $red;
    }
  }

  .search__title {
    margin-top: 5rem;
  }

  .comics__listings {
    margin-left: 3rem;
  }

  .characters__template__ul {
    margin-left: 3rem;

  }

  .comics__cards__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    border-right: 1rem solid $red;
  }

  .comics__cards__info a:link,
  .comics__cards__info a:visited {
    font-size: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .comics__tab li:first-child {
    margin-left: 1.5rem;
  }

  .randomize {

    &__comic__whole {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    &__info {
      margin: 0;
    }

    &__ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &__issue {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    &__image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 3rem;
    }

    &__triple__items {
      display: inline-block;
    }

    img {
      max-width: 99%;
    }

    &__headings__group {
      margin-bottom: 1.5rem;
    }

  }

  .footer__area__marvel {
    margin-bottom: 1rem;
  }

}

// 480px and down
@media only screen and (max-width: 30em) {
  .characters__cards__info {
    text-align: center;
    border-right: 1rem solid $red;

  }

  .comics__tab {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;

    li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 1rem;

      &:first-child {
        margin: 0;
      }

      label {
        padding: 1rem;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
      }
    }
  }
}


// 420px and down
@media only screen and (max-width: 20em) {
  .randomize {
    &__triple__items {
      p {
        margin: 2rem 0 2rem 0;
      }
    }

    &__links__btns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 3rem;

      a {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: center;
        margin-bottom: 3rem;
      }

      button {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
      }
    }

    &__link {
      margin-right: 0;
    }
  }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  /* IE10+ CSS */
  .loading {
    display: none;
  }

  .primary__heading {
    margin: 4rem auto 5rem auto;
  }

  .characters__cards {
    display: block;


    a:link {
      display: block;
    }

  }

  .comics__cards {
    display: block;
  }

}

@media (max-width:56.25em) and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  .randomize {
    padding: 5rem;

    &__again {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

    }

    &__ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

    }

    &__comic__whole {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

    }

    &__image img {
      margin-bottom: 3rem;


    }

    &__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-left: 5rem;

    }

    &__headings__group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    &__issue {
      background-color: $red;
      font-weight: 700;
      color: $white;
      font-size: 3rem;
      display: block;

    }

    &__title {
      font-size: 2rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      color: $randomize-grey;
      display: block;
    }

    &__date {
      font-weight: 400;
      font-size: 1.4rem;
    }

    &__triple__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      text-align: center;

      p {
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        padding: 1.6rem 2rem 1.6rem 2rem;
        background-color: $grey;
        font-size: 1.6rem;
        color: $white;
        font-weight: 600;
        margin: 2rem 1rem 2rem 0;
      }
    }

    &__links__btns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 1.6rem;

      a:link,
      a:visited {
        text-decoration: none;
        -webkit-transition: 0.3s all;
        transition: 0.3s all;
      }

      a:hover,
      a:active {
        background-color: $grey;
        text-decoration: none;
      }
    }

    &__link {
      background-color: $randomize-grey;
      color: $white;
      font-weight: 900;
      border: 0;
      margin-right: 2rem;
    }

    &__btn {
      font-size: 1.6rem;
      background-color: $red;
      color: $white;
      font-weight: 900;
      border: 0;
      -webkit-transition: 0.3s all;
      transition: 0.3s all;

      &:hover {
        background-color: $dark-red;
      }
    }
  }
}

@media (max-width:56.25em) and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  .randomize {

    &__comic__whole {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    &__image {
      -ms-flex-item-align: center;
          align-self: center;
    }

    &__image img {
      margin-bottom: 3rem;
      height: 40rem;
      width: auto;

    }
  }
}


@supports (-ms-ime-align:auto) {

  .primary__heading {
    margin-top: 2.5rem;
  }

}


