/*
1em = 16px
1.6rem = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 16px */ }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #f2f2f2; }

a:link,
a:visited {
  color: white; }

.row {
  max-width: 120rem;
  margin: auto; }

.primary__heading {
  font-size: 1.8rem;
  display: inline-flex;
  justify-content: flex-start;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #282828;
  padding: 1rem;
  letter-spacing: 0.4rem;
  border-left: 1rem solid #a22d23;
  margin-bottom: 5rem; }

.primary__heading__tab {
  font-size: 1.8rem;
  display: inline-flex;
  justify-content: flex-start;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #282828;
  padding: 1rem;
  padding-right: 0;
  letter-spacing: 0.4rem;
  border-left: 1rem solid #a22d23;
  margin-bottom: 5rem; }

.fourth__heading {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.3rem;
  font-size: 2rem; }

.sixth__heading {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.4rem; }

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  cursor: pointer;
  padding: 1.5rem 3rem 1.5rem 3rem; }

.loading {
  margin: auto;
  margin-bottom: 15rem;
  margin-top: 5rem; }

.nav__logo {
  text-decoration: none; }
  .nav__logo img {
    width: 10%; }

.nav__wordmark__logo {
  color: #ffffff;
  padding: 1rem 2rem 1rem 2rem;
  font-weight: 900;
  letter-spacing: 1rem;
  font-size: 3rem;
  border: 0.5rem solid #ffffff;
  margin-bottom: 5rem; }

.search__area {
  background-image: url("https://res.cloudinary.com/fluxcapacitor/image/upload/v1573753684/spider_big_bg_pfzmda.jpg");
  background-size: 60%;
  height: 55vh;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem; }
  .search__area__heading {
    font-weight: 800;
    letter-spacing: 1.8rem;
    margin-bottom: 2rem;
    font-size: 4rem; }
  .search__area__form {
    color: #ffffff;
    text-align: center;
    margin-bottom: 10rem; }
    .search__area__form input[type="radio"] {
      display: none; }
    .search__area__form input[type="radio"]:checked + label {
      border: solid 0.3rem #ffffff; }
    .search__area__form label {
      display: block;
      padding: 0.6rem;
      text-align: center;
      background-color: #621913;
      margin-bottom: 2rem;
      cursor: pointer;
      transition: 0.2s all; }
      .search__area__form label:hover {
        background-color: #511510; }
  .search__area__list {
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 800;
    font-size: 2rem; }
  .search__area__years__options {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    background-color: #621913;
    border-style: none;
    padding: 1rem;
    color: #ffffff;
    margin-bottom: 2rem; }
  .search__area__submit {
    color: #282828;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 1rem;
    text-indent: 1rem;
    border-style: none;
    width: 100%;
    cursor: pointer;
    background-color: #f2f2f2;
    transition: 0.2s all; }
    .search__area__submit:hover {
      background-color: #dcdcdc; }

.search__results__template__ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.search__results__links {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.3rem; }
  .search__results__links a:link,
  .search__results__links a:visited,
  .search__results__links a:hover,
  .search__results__links a:active {
    text-decoration: none;
    transition: 0.2s all; }
  .search__results__links a:hover {
    background-color: #621913; }
  .search__results__links #search__results__scroll {
    font-size: 1.4rem;
    font-weight: 600;
    border: 0; }
    .search__results__links #search__results__scroll:hover {
      background-color: #621913; }

.search__results__end {
  padding: 3rem;
  color: #ffffff;
  background-color: #a22d23;
  margin-right: 1rem; }

.characters__template__ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.characters__cards {
  width: 20rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  /*&:last-of-type {
      margin-right: 0;
    } */ }
  .characters__cards img {
    width: 100%;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75); }
  .characters__cards__info {
    flex: 1;
    border-left: solid 1rem #a22d23;
    padding: 1rem;
    background-color: black;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75); }
  .characters__cards__p {
    font-size: 1.2rem;
    letter-spacing: 0.5rem; }
  .characters__cards a:link,
  .characters__cards a:visited {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: 0.2s all; }
  .characters__cards a:hover {
    color: #a22d23;
    transform: translateY(-1rem); }
  .characters__cards a:active {
    text-decoration: none; }

.comics__tab {
  text-align: center;
  display: inline-flex;
  flex-direction: row; }
  .comics__tab input[type="radio"] {
    display: none; }
  .comics__tab input[type="radio"]:checked + label {
    background-color: #621913; }
  .comics__tab label {
    padding: 1.4rem;
    cursor: pointer;
    transition: 0.2s all; }
    .comics__tab label:hover {
      background-color: #511510; }
  .comics__tab li {
    list-style-type: none; }
    .comics__tab li:first-child {
      margin-left: 3rem; }

.comics__listings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .comics__listings img {
    width: 100%; }

.comics__cards {
  width: 20rem;
  margin-bottom: 5rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  /* &:last-of-type {
      margin-right: 0;
    } */ }
  .comics__cards img {
    width: 100%;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75); }
  .comics__cards__info {
    flex: 1;
    border-left: solid 1rem #a22d23;
    padding: 1rem;
    background-color: black;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75); }
    .comics__cards__info a:link,
    .comics__cards__info a:visited {
      text-transform: uppercase;
      padding: 0.5rem;
      text-decoration: none;
      border: 0.2rem solid white;
      align-self: flex-end;
      color: #ffffff;
      letter-spacing: 0;
      font-size: 1.2rem;
      transition: 0.3s all; }
    .comics__cards__info a:hover {
      background-color: #a22d23; }

.randomize__ul {
  display: flex; }

.randomize__comic__whole {
  display: flex; }

.randomize__image img {
  width: 100%; }

.randomize__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5rem; }

.randomize__headings__group {
  display: flex; }

.randomize__issue {
  background-color: #a22d23;
  font-weight: 700;
  color: #ffffff;
  padding: 2rem;
  margin-right: 3rem;
  font-size: 3rem;
  border-radius: 100rem; }

.randomize__title {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #424242; }

.randomize__date {
  font-weight: 400;
  font-size: 1.4rem; }

.randomize__triple__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center; }
  .randomize__triple__items p {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    padding: 1.6rem 2rem 1.6rem 2rem;
    background-color: #282828;
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 600;
    margin: 2rem 1rem 2rem 0; }

.randomize__links__btns {
  display: flex;
  justify-content: center;
  font-size: 1.6rem; }
  .randomize__links__btns a:link,
  .randomize__links__btns a:visited {
    text-decoration: none;
    transition: 0.3s all; }
  .randomize__links__btns a:hover,
  .randomize__links__btns a:active {
    background-color: #282828;
    text-decoration: none; }

.randomize__link {
  background-color: #424242;
  color: #ffffff;
  font-weight: 900;
  border: 0;
  margin-right: 2rem; }

.randomize__btn {
  font-size: 1.6rem;
  background-color: #a22d23;
  color: #ffffff;
  font-weight: 900;
  border: 0;
  transition: 0.3s all; }
  .randomize__btn:hover {
    background-color: #621913; }

.footer {
  color: #ffffff;
  margin-top: 5rem;
  background-color: #282828;
  padding: 5rem; }
  .footer__area {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

/* 
56.25em = 900px
75em = 1200px 
112.5em = 1800px
*/
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%; } }

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; }
  .characters {
    padding: 5rem; }
    .characters__template__ul {
      justify-content: center; }
  .comics {
    padding: 5rem; }
    .comics__listings {
      justify-content: center; } }

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; } }

@media only screen and (max-width: 37.5em) {
  /* test html */ }
