/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
1.6rem = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 16px */ }

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; } }

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; } }

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%; } }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #f2f2f2; }

a:link,
a:visited {
  color: white; }

.row {
  max-width: 120rem;
  margin: auto; }

.primary__heading {
  font-size: 1.8rem;
  display: inline-flex;
  justify-content: flex-start;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #282828;
  padding: 1rem;
  letter-spacing: 0.4rem;
  border-left: 1rem solid #a22d23;
  margin-bottom: 5rem; }

.primary__heading__tab {
  font-size: 1.8rem;
  display: inline-flex;
  justify-content: flex-start;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #282828;
  padding: 1rem;
  padding-right: 0;
  letter-spacing: 0.4rem;
  border-left: 1rem solid #a22d23;
  margin-bottom: 5rem; }

.fourth__heading {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.3rem;
  font-size: 2rem; }

.sixth__heading {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.4rem; }

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  cursor: pointer;
  padding: 1.5rem 3rem 1.5rem 3rem; }

.loading {
  margin: auto;
  margin-bottom: 15rem;
  margin-top: 5rem; }

.nav__section {
  background-color: #282828;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 3rem; }

.nav__logo {
  text-decoration: none; }

.nav__wordmark__logo {
  color: #ffffff;
  padding: 1rem 2rem 1rem 2rem;
  font-weight: 900;
  letter-spacing: 1rem;
  font-size: 3rem;
  border: 0.5rem solid #ffffff; }

.comic__search__section {
  background-color: #a22d23;
  height: 50vh;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem; }

.comic__search {
  color: #ffffff;
  text-align: center;
  margin-bottom: 10rem; }
  .comic__search__heading {
    font-weight: 800;
    letter-spacing: 1.8rem;
    margin-bottom: 2rem;
    font-size: 4rem; }
  .comic__search input[type="radio"] {
    display: none; }
  .comic__search input[type="radio"]:checked + label {
    border: solid 0.3rem #ffffff; }
  .comic__search label {
    display: block;
    padding: 0.6rem;
    text-align: center;
    background-color: #621913; }
  .comic__search__list {
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 800;
    font-size: 2rem; }
  .comic__search__radios li {
    margin-bottom: 2rem; }
  .comic__search__radio__tab {
    cursor: pointer; }
  .comic__search__years__options {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    background-color: #621913;
    border-style: none;
    padding: 1rem;
    color: #ffffff;
    margin-bottom: 2rem; }
  .comic__search__submit {
    color: #282828;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 1rem;
    text-indent: 1rem;
    border-style: none;
    width: 100%;
    cursor: pointer; }

.search__results__template__ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.search__links {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: .3rem; }
  .search__links a:link, .search__links a:visited, .search__links a:hover, .search__links a:active {
    text-decoration: none; }
  .search__links a:hover {
    background-color: #621913; }

#search__results__scroll {
  font-size: 1.4rem;
  font-weight: 600;
  border: 0; }
  #search__results__scroll:hover {
    background-color: #621913; }

.search__results__end {
  padding: 3rem;
  color: #ffffff;
  background-color: #a22d23;
  margin-right: 1rem; }

.character__card__one {
  width: 20rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column; }
  .character__card__one img {
    width: 100%; }
  .character__card__one a:link,
  .character__card__one a:visited {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: .2s all; }
  .character__card__one a:hover {
    color: #a22d23;
    transform: translateY(-1rem); }
  .character__card__one a:active {
    text-decoration: none; }

.character__card__comic--info {
  flex: 1;
  border-left: solid 1rem #a22d23;
  padding: 1rem;
  color: #ffffff;
  background-color: black;
  display: flex;
  flex-direction: row; }
  .character__card__comic--info a:link, .character__card__comic--info a:visited {
    padding: .5rem;
    text-decoration: none;
    border: .2rem solid white;
    align-self: flex-end;
    color: #ffffff;
    letter-spacing: 0;
    font-size: 1.2rem;
    transition: .3s all; }
  .character__card__comic--info a:hover {
    background-color: #a22d23; }

.new__comics .comic__listings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .new__comics .comic__listings img {
    width: 100%; }

.new__comics--ulist {
  text-align: center;
  display: inline-flex;
  flex-direction: row; }
  .new__comics--ulist input[type="radio"] {
    display: none; }
  .new__comics--ulist input[type="radio"]:checked + label {
    background-color: #621913; }
  .new__comics--ulist label {
    padding: 1.4rem;
    cursor: pointer; }
  .new__comics--ulist li {
    list-style-type: none; }
    .new__comics--ulist li:first-child {
      margin-left: 3rem; }

.character__template__hb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.character__card {
  width: 20rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column; }
  .character__card--info {
    flex: 1;
    border-left: solid 1rem #a22d23;
    padding: 1rem;
    background-color: black; }
    .character__card--info a {
      letter-spacing: 0;
      font-size: 1.2rem; }
  .character__card img {
    width: 100%; }
  .character__card--p {
    font-size: 1.2rem;
    letter-spacing: 0.5rem; }

.randomize {
  /* 

  &__creators {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $white;
  } */ }
  .randomize__ul {
    display: flex; }
  .randomize__comic__whole {
    display: flex; }
  .randomize__image img {
    width: 100%; }
  .randomize__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5rem; }
  .randomize__headings__group {
    display: flex; }
  .randomize__issue {
    background-color: #a22d23;
    font-weight: 700;
    color: #ffffff;
    padding: 2rem;
    margin-right: 3rem;
    font-size: 3rem;
    border-radius: 100rem; }
  .randomize__title {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #424242; }
  .randomize__date {
    font-weight: 400;
    font-size: 1.4rem; }
  .randomize__triple__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center; }
    .randomize__triple__items p {
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      padding: 1.6rem 2rem 1.6rem 2rem;
      background-color: #282828;
      font-size: 1.6rem;
      color: #ffffff;
      font-weight: 600;
      margin: 2rem 1rem 2rem 0; }
  .randomize__links__btns {
    display: flex;
    justify-content: center;
    font-size: 1.6rem; }
    .randomize__links__btns a:link,
    .randomize__links__btns a:visited {
      text-decoration: none;
      transition: .3s all; }
    .randomize__links__btns a:hover,
    .randomize__links__btns a:active {
      background-color: #282828;
      text-decoration: none; }
  .randomize__link {
    background-color: #424242;
    color: #ffffff;
    font-weight: 900;
    border: 0;
    margin-right: 2rem; }
  .randomize__btn {
    font-size: 1.6rem;
    background-color: #a22d23;
    color: #ffffff;
    font-weight: 900;
    border: 0;
    transition: .3s all; }
    .randomize__btn:hover {
      background-color: #621913; }

.footer {
  color: #ffffff;
  margin-top: 5rem;
  background-color: #282828;
  padding: 5rem; }
  .footer__area {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
